* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #008080;
    --secondary-color: #39a6b2;
    --tertiary-color: #a9a9a9;
}

body {
    color: #008080;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */

header {
    padding-bottom: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-weight: 1.55vw;
}

/* end <header> */

/* start <footer> */

/* end <footer> */

h2 {
    color: var(--tertiary-color);
    text-align: center;
    font-size: 55px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-style: italic;
}


/* <body> */


.about-me-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    border: 10px solid black;
    
}

.section-title {
    margin: 0px auto 3px auto;
    border: 3px solid black;
    text-align: center;
    border-bottom: 3px solid var(--tertiary-color);
    padding-bottom: 10px;
    font-size: 35px;
}

.flex-section-title {
    margin: auto;
}

.bio {
    line-height: 1.1;
    color: var(--secondary-color);
    border: 5px solid black;
    margin: 5px;
}

p {
    text-align: center;
    font-size: 18px;
}

